.user-container {
  min-width: 328px;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info {
  flex: 1;
  margin-left: 15px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.user-card-selected {
  background-color: #f2f4f5;
}
