.find-separation-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.selected-users {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selected-user-card {
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.friendship-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.relation-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.user-snippet {
  width: auto;
  padding: 15px 25px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.empty-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 100px;
}
